header {
  background-color: black;
  color: white;
  height: 3rem;
}

.nav-bar {
  background-color: #363232;
  height: 3.3em;
  display: flex;
  justify-content: space-between;
  padding: 0 23px;
  align-items: center;
}

.header-title {
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  line-height: 1.2;
  height: 350px;
  background-image: url("img/header_background.jpg");
}

.header-title h1 {
  font-family: "Crete Round", sans-serif;
  font-weight: 32;
  font-size: 54px;
  color: #ff6b00;
  line-height: 64px;
  letter-spacing: 0.37px;
  margin: 12px 0;
}

.header-title h3 {
  color: white;
  font-size: 24px;
  margin: 0;
  padding: 0;
  line-height: 32px;
  font-family: "Roboto", sans-serif;
}

.header-title p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  color: white;
}

.header-title div ul {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.header-title div ul li {
  padding: 10px;
}

.works {
  height: auto;
  padding: 20px;
  display: grid;
}

.works .recent-works {
  height: auto;
  border-bottom: 2px solid black;
  margin-bottom: 90px;
  display: flex;
  align-items: center;
}

.works h1 {
  font-family: "Crete Round", sans-serif;
  font-size: 45px;
  line-height: 52px;
  font-style: normal;
  font-weight: normal;
  color: #1c1a19;
}

.works h2 {
  font-family: "Crete Round", sans-serif;
  font-size: 36px;
  line-height: 52px;
  margin: 12px 0;
  border: 0;
  font-style: normal;
  font-weight: normal;
}

.works p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.works button {
  color: white;
  padding: 15px;
  border: none;
  margin: 10px auto;
  font-weight: bold;
  background: #ff6b00;
}

.works .box {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.about-me button {
  color: white;
  padding: 15px;
  border: none;
  font-size: 16px;
  margin: 10px auto;
  font-weight: bold;
  background: #ff6b00;
  margin-left: 30px;
}

.works button:hover {
  color: #ff6b00;
  padding: 15px;
  margin: 10px auto;
  font-weight: bold;
  background: white;
  border: 1px solid #ff6b00;
}

.works .box button {
  padding: 15px;
  border: 1px solid black;
  margin-right: 10px;
  font-family: "Inter", sans-serif;
  color: black;
  background-color: white;
}

.works .segment button {
  color: white;
  border: none;
  font-weight: bold;
  background: #ff6b00;
  margin: 0;
  width: 349px;
  margin-left: 0;
}

.works .box button:hover {
  padding: 15px;
  margin-right: 10px;
  font-family: "Inter", sans-serif;
  color: black;
  background-color: white;
  border: 1px solid #ff6b00;
  color: #ff6b00;
}

.works .segment {
  margin: 0;
}

.works .segment button:hover {
  font-weight: bold;
  background: white;
  margin: 0;
  width: 349px;
  margin-left: 0;
  border: 1px solid #ff6b00;
  color: #ff6b00;
}

.works .segment .container {
  height: 300px;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.2) 61.94%), url("img/Mask-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
}

.about-me h1 {
  font-family: "Crete Round", sans-serif;
  font-size: 72px;
  line-height: 88px;
  color: #ff6b00;
  padding-left: 30px;
  margin-top: 70px;
  margin-bottom: 20px;
}

.about-me .language h1 {
  font-family: "InaiMathi", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: white;
  margin: 0;
  padding-left: 8px;
}

.about-me .frameworks h1 {
  font-family: "InaiMathi", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: white;
  margin: 0;
  padding-left: 20px;
}

.about-me .frameworks ul li {
  color: white;
  font-size: 22px;
  font-weight: 24;
  list-style-type: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  line-height: 43px;
  display: flex;
}

.about-me .skills h1 {
  font-family: "InaiMathi", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: white;
  margin: 0;
  padding-left: 20px;
}

.works .segment .container h1 {
  font-weight: normal;
  font-family: "Crete Round", sans-serif;
  font-size: 32px;
  line-height: 44px;
  color: white;
}

.about-me p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: white;
  padding-left: 30px;
}

.works .segment .container p {
  font-weight: normal;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

.works .segment .container .holder {
  display: flex;
  flex-direction: row;
}

.works .segment .container .holder div {
  background-color: rgba(255, 255, 255, 0.342);
  padding: 10px;
  margin-right: 10px;
  color: white;
  width: auto;
}

.about-me {
  background-color: black;
  margin-top: 100px;
  height: auto;
  padding-top: 50px;
}

.about-me img {
  position: absolute;
  float: left;
  margin-left: 48px;
}

.about-me .line {
  border: 1px solid white;
  position: inherit;
  margin-top: 200px;
  width: 300px;
  margin-left: 50px;
}

.about-me .language {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 99px;
}

.about-me .language img {
  position: absolute;
  margin-left: -19px;
  margin-top: 10px;
}

.about-me .language ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0;
}

.about-me .language ul li {
  color: white;
  font-size: 22px;
  list-style-type: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 43px;
  display: flex;
}

.about-me .frameworks {
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: center;
  padding-top: 15px;
}

.about-me .frameworks img {
  position: absolute;
  margin-left: -19px;
  margin-top: 10px;
}

.about-me .frameworks ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0;
}

.about-me .skills {
  display: flex;
  flex-direction: column;
  padding: 15px;
  align-items: center;
  padding-top: 15px;
}

.about-me .skills img {
  position: absolute;
  margin-left: -19px;
  margin-top: 10px;
}

.about-me .skills ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0;
}

.about-me .skills ul li {
  color: white;
  font-size: 22px;
  list-style-type: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 43px;
  display: flex;
}
